body {
  color: white;
  background-color: rgb(106, 33, 174);
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flexContainer {
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  display: none;
}

.title {
  margin: 1rem;
  text-align: center;
  font-size: larger;
}

.genUser {
  display: flex;
  margin: auto;
  padding: 0.2rem 30%;
}

.main {
  display: flex;
  align-items: center;
}

.photo img {
  border-radius: 50%;
  margin: 1rem;
}

.details {
  margin: 1rem;
}
